@media (max-width: 400px) {
  /*phần showcase*/

  .flex {
    flex-direction: column; /*Trong lớp navbar có lớp flex dùng flex-direction: column để logo và phần navigation sẽ tạo thành 1 cột */
    padding: 10px;
    background-color: rbga(0, 0, 0, 0.1); /*tạo màu nền trong suốt*/
  }
  nav a:nth-child(3) {
    display: none;
  }
  .rownotbst {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 30px;
  }
}
